html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.info{
    position: fixed;
    top:50%;
    left:50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50% , -50%);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.redi{
    
    margin-left: 45%;
}

label{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 0.5cm;
    margin-right: 3%;
}

.btn{
    margin-left: 40%;
}

textarea{
    width: 30%;
    height: 5%;
}

.btn input{
    color: #fff;
    background-color: #243b55;
}

.btn input:hover{
    color: gray;
}
